# Python
__pycache__/
*.pyc
.pytest_cache/
*.log

# venv
venv/
.venv/

# EDMG generated
support_bundles/
install_profiles/
models_store/
outputs/
cache/

# external apps (DON'T commit these)
external/

# Electron UI dependencies
desktop/electron/node_modules/

# OS / editor
Thumbs.db
Desktop.ini
*.code-workspace
.vscode/
